footer
  .container.text-center
    p.float-left © 2020 DeepWork.studio, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='mailto:hey@deepwork.studio') Say hello
