extends layout

block content
  h1 DEEP WORK STUDIO
  p.lead Build products for a better world, faster.
  p Our purpose is to unleash the collective and creative genius of our team, clients and partners by changing the way they work.
  hr
  .row
    .col-md-6
      h2 Our Work
      p
        a.btn.btn-raised(href='https://www.notion.so/Deep-Work-Studio-ca8ed0c8098d4167ad934546c658cd0f', role='button') View details »
    .col-md-6
      h2 Team
      p
        a.btn.btn-raised(href='https://www.notion.so/deepworkstudio/Deep-Work-Team-d2f8fafb95444d4fab27bedbe08dc08c', role='button') View details »
